<ng-container *ngIf="projets">
  <ng-container *ngIf="projets!= null else inconnu">
    <table class="table">
      <thead>
      <th>Id du projet</th>
      <th>Nom projet</th>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Cout</th>
      <th>id responsable</th>
      <th>Del</th>
      <th>Edit</th>
      </thead>
      <tbody>
      <tr *ngFor="let p of projets">
        <td>{{p.idprojet}}</td>
        <td>{{p.nomproj}}</td>
        <td>{{p.datedebut}}</td>
        <td>{{p.datefin}}</td>
        <td>{{p.cout}} €</td>
        <td>{{p.idresponsable.idemploye}}</td>
        <td>
          <button (click)=onEdit(p) class="btn btn-danger">
            <span class = "fa fa-edit"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #inconnu>
    id inconnu
  </ng-template>
</ng-container>

