<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input ngModel name="nom" type="text" >
        <button class="btn btn-sm btn-outline-info m-lg-2">
<span class = "fa fa-search">
</span>
        </button>
      </form>
    </li>
    <li>
      <button (click)="onNewEmploye()" class="btn btn-sm btn-outline-info ms-2">New</button>
    </li>
  </ul>
</nav>
<ng-container *ngIf="employes">
  <ng-container *ngIf="employes.length>0 else inconnu">
    <table class="table">
      <thead>
      <th>IdEmploye</th>
      <th>Matricule</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Tel</th>
      <th>Mail</th>
      <th>Del</th>
      <th>Edit</th>
      </thead>
      <tbody>
      <tr *ngFor="let e of employes">
        <td>{{e.idemploye}}</td>
        <td>{{e.matricule}}</td>
        <td>{{e.nom}}</td>
        <td>{{e.prenom}}</td>
        <td>{{e.tel}}</td>
        <td>{{e.mail}}</td>
        <td>
          <button (click)=onDelete(e) class="btn btn-danger">
            <span class = "fa fa-trash-o"></span>
          </button>
        </td>
        <td>
          <button (click)=onEdit(e) class="btn btn-danger">
            <span class = "fa fa-edit"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #inconnu>
    Nom inconnu
  </ng-template>
</ng-container>
